<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Losuj Zadanie</title>
	<div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
	<div class="row" style="margin-top:20px">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<form th:action="@{/losuj}" method="post">
				<fieldset>
					<br/>
					<div th:if="${param.error}">
						<div class="alert alert-danger">
							Niepoprawna nazwa użytkownika lub hasło.
						</div>
					</div>
					<h2>Losuj zadanie</h2>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<input type="submit" class="btn btn-lg btn-primary btn-block" value="Losuj"/>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</body>
</html>
